:root {
  --blue: #0176c0;
}

*, body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 16px
}

p, li, a, input, label, span {
  font-size: 13px
}

ul {
  padding: 0
}

ul li {
  text-transform: uppercase;
}

#main-wrapper {
  padding: 20px;
  max-width: 1024px;
  min-width: 1024px;
}

.wrapper-header .logo {
  width: 16.5%;
  height: 42px;
  background-image: url(./images/logo.png);
  background-size: cover;
}

.wrapper-header .logo img {
  width: 170px
}

.wrapper-header .logo, .menu {
  float: left
}

.wrapper-header .menu ul {
  margin-left: 10px
}

.wrapper-header .menu ul li {
  display: inline-block;
  list-style-type: none;
}

.wrapper-header .menu ul li:nth-child(2)>a:hover {
  background-color: #d0e4f280;
  transition: all 0.5s 10ms;
}

li.nav-links a, .ope-log, input.login, .login.active {
  padding: 10px 26px;
  background-color: var(--blue);
  border: 2px solid var(--blue)
}

li.nav-links.ope-log, .login.active {
  color: white;
}

li.nav-links.login.ope-log:hover, .login.active:hover {
  background-color: white;
  border: 2px solid var(--blue);
  color: black;
  transition: all 0.5s 10ms;
  cursor: pointer
}

li.nav-links:nth-child(2) {
  margin-left: -5px;
}

.wrapper-header .menu ul li:nth-child(2)>a {
  color: #000;
  background-color: #fff;
}

.wrapper-header .menu {
  width: 80%;
  margin-left: 3.5%
}

.wrapper-header .menu ul li.login, li.login.active {
  float: right
}

.wrapper-header .menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #fff
}

.clearfix {
  clear: both
}

/* Popup login form */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  /* visibility: hidden; */
  display: none;
  opacity: 0;
  z-index: 100;
}

.popup-login {
  margin: 100px auto 0;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  min-width: 270px;
  width: 500px;
  position: relative;
  transition: all 1s ease-in-out
}

.popup-login h2 {
  font-size: 21px;
  user-select: none;
  text-transform: uppercase;
  margin: 39px 0 20px 0;
  text-align: center;
}

.popup-login>a {
  margin-top: 10px;
}

.popup-login .close {
  margin: 16px 5px;
  position: absolute;
  top: -13px;
  right: 10px;
  transition: all 200ms;
  font-size: 29px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.popup-login .close:hover {
  color: #06D85F;
}

.popup-login .content {
  max-height: 30%;
  overflow: auto;
}

.fieldset-form {
  padding: 40px 0;
  border: none;
}

.lg-oad.loading {
  position: absolute;
  left: 330px;
  top: 1px;
}

/* form - input form - form-contr */
.input-group {
  position: relative;
  margin-bottom: 32px;
}


.input-group input.form-control {
  font-size: 16px;
  padding: 9px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey
}

.input-group input.form-control:focus {
  outline: none
}

.input-group label {
  pointer-events: none;
  color: #4c4c4c;
  position: absolute;
  top: 9px;
  left: 0;
}

.gui-box {
  padding: 14px 0;
  line-height: 25px;
}

.gui-box .gui {
  padding: 20px;
  background-color: #add8e68a;
  padding-left: 11px;
  border-left: 2px solid #0176C0;
}

/* active state input focus */
input.form-control:focus~label, input.form-control:valid~label {
  transition: all 0.25s 200ms;
  top: -20px;
  font-size: 14px;
}

/* BOTTOM BARS-BORDER ================================= */
.bar-transition {
  position: relative;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.bar-transition:before, .bar-transition:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0.5px;
  position: absolute;
  background: var(--blue);
  transition: all 0.4s 200ms;
  -moz-transition: all 0.4s 200ms;
  -webkit-transition: all 0.4s 200ms
}

.input-group .bar-transition::after {
  right: 50%;
}

.input-group .bar-transition::before {
  left: 50%;
}

/* Active state hightlight and transition */
input.form-control:focus~.bar-transition:before, input.form-control:focus~.bar-transition:after {
  width: 100%;
}

input:-webkit-autofill, select:-webkit-autofill {
  background-color: #ffffff00 !important;
  color: rgb(0, 0, 0) !important;
}

input.login {
  margin-top: 20px;
  border: 2px solid var(--blue);
  color: white;
  display: block;
  width: 135px;
}

input.login:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 0.25s 20ms;
}

/* dashboard article*/
#app-main {
  /* padding: 16px; */
  min-height: 500px;
  /* border: 1px solid; */
  margin-top: 72px;
}

#app-main .success {
  width: 90%;
  padding: 10px;
  border: 1px solid;
  box-shadow: 1px 2px 1px lightgrey;
  min-height: 181px;
}

.hidden {
  display: none;
}

/* Loading */
.is-hidden, .login.active.is-hidden {
  display: none;
}

.loading {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 100px);
}

@keyframes loader {
  0% {
    left: -100px
  }

  100% {
    left: 110%;
  }
}

.loading-box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .3s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.loading-shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}

@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}

.loader {
  z-index: 10;
  position: absolute;
  background: #a7cbff;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Loading version 2 */
.loader-dot {
  padding-top: 1em;
  color: #ccc;
  text-align: center;
}

.dot_lhie {
  background: white;
}

.dot_lhie, .dot_lhie:after {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  animation: aDot 1.5s calc(((var(--i) + var(--o, 0))/var(--n) - 1)*1.5s) infinite;
}

.dot_lhie:after {
  --o: 1;
  background: #a7cbff;
  content: "";
}

/*! CSS Used keyframes */
@keyframes aDot {
  0%, 50% {
    transform: scale(0);
  }
}

li.nav-link, span#logout, span#profile {
  user-select: none;
}

/* Custom size icon Font-Awsome */
.fa-pulse {
  font-size: 40px;
  color: var(--blue);
}

.active_l0G {}

li.nav-links.login.ope-log.active_l0G {
  user-select: none;
  pointer-events: none;
}

/* Custom button */
.btn-hutech {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.8em 0.5em;
  background: #009ED8;
  border: none;
  color: white;
  transition: 0.2s;
  border-radius: 10px;
}

.btn-hutech:before {
  background: rgba(0, 0, 0, 0.1);
}

.btn-hutech:hover {
  background: var(--blue);
  cursor: pointer;
}

.btn-hutech:active, .btn-hutech:focus {
  background: #ef3c32;
  outline: none;
}

.btn-hutech.more:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4);
}

/* Model popup */
.modelDetails {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modelDetails-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 960px;
  height: initial;
}

/* The Close Button */
.modelDetails-close {
  margin-top: -10px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modelDetails-close:hover,
.modelDetails-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.studentAll {
  margin-top: 10px;
}

/* Profile */
.title h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  margin-bottom: 44px;
  color: var(--blue);
}

.inputButton {
  cursor: pointer;
  border: 2px solid var(--blue);
  color: white;
  display: block;
  padding: 10px 26px;
  background-color: var(--blue);
  margin: 0;
}

input.disabled {
  opacity: 0.8;
  pointer-events: none;
}

/* input.inputChange:focus {
    outline: none;
}

input.inputChange {
    float: left;
    margin: 0;
    font-size: 16px;
    padding: 9px 0;
    display: block;
    width: 83%;
    border: none;
    border-bottom: 1px solid lightgrey;
} */
.lg-oad.loading-change {
    position: relative;
    top: -40px;
    left: 180px;
}


.input-group label {
  top: -20px;
}

/* Input form */
input.input_f,select.input.input_f.select:focus {
  outline: none;
  border: none;
}

input.input_f:focus::-webkit-input-placeholder {
  color: transparent;
}

input.input_f:focus:-moz-placeholder {
  color: transparent;
}

input.input_f:focus::-moz-placeholder {
  color: transparent;
}

input.input_f:focus:-ms-input-placeholder {
  color: transparent;
}

input.input_f::-webkit-input-placeholder {
  color: #999;
}

input.input_f.input_f:-moz-placeholder {
  color: #999;
}

input.input_f::-moz-placeholder {
  color: #999;
}

.form-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0px 20px 120px;
}

.form-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 26px;
}

.label-input {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -134px;
    width: 127px;
}
.input.input_f {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;
  background: #0176c0;
}

input.input.input_f {
  height: 45px;
}

.input.input_f:focus+.focus-input::before {
  width: 100%;
}
.form-input-absoluted {
    margin: 0;
    position: relative;
}

/* Loading Content Box */

 .box, .box-placeholder {
	 display: inline-block;
	 background-color: #fff;
	 margin: 30px;
	 box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
	 max-width: 300px;
	 vertical-align: top;
	 width: 100%;
}
 .box hr, .box-placeholder hr {
	 margin: 0;
	 border-color: #f3f3f3;
}
 .box {
	 display: none;
}
 .box .category {
	 display: block;
	 margin-bottom: 10px;
}
 .box img {
	 max-width: 100%;
}
 .box-placeholder {
	 font-size: 0;
	 line-height: 0;
}
.box-loading {
    display: inline-block;
    background-color: #3d3d3d;
    height: 39px;
    border-radius: 5px;
    margin: 5px 0;
    min-width: 100px;
    opacity: 0.1;
    animation: fading 1.5s infinite;
}
.box-loading:first-child {
	 margin-top: 0;
}
.box-loading:last-child {
	 margin-bottom: 0;
}

.box-loading.line {
	 width: 100%;
}
.box-loading.category {
	 width: 100px;
	 margin-bottom: 10px;
}
form.form-view.full-width.gap-top {
    margin-top: 15px;
    width: 90%;
    opacity: 0.2;
}

.heightx100 {
    height: 100px;
}

.width50 {
    width: 50%;
}

.width75 {
    width: 75%;
}

.width25 {
    width: 25%;
}
 @keyframes fading {
	 0% {
		 opacity: 0.1;
	}
	 50% {
		 opacity: 0.2;
	}
	 100% {
		 opacity: 0.1;
	}
}

form.form-view.full-width {
    padding: 0;
}
.form-input.heigh-250px.box-loading {
    height: 250px;
}
.yourlecturer,.profileSV {
    margin-top: 15px;
}
span#submitChangeInf_Comp {
    margin-left: 10px;
}
.inputButton.btn-left {
    float: left;
}

/* Popup update company information */
.row-6 {
      margin: 0 auto;
    float: left;
    width: 31.999999%;
    padding: 0 10px;
}

form.form-view.col-2 {
    padding: 53px 0 20px 78px;
}

.row-center {margin: 0 auto;text-align: center;}

.row-center h2 {
    font-size: 22px;
    color: cadetblue;
    text-decoration: underline;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
}
.lg-oad.loading-change-company {
    position: relative;
    top: -41px;
    right: -445px;
}
.inputButton.btn-center {
    margin: 0 auto;
}
.row-12.width100 {
    width: 100%;
    margin-right: 67px;
}


/* Margin center */
#main-wrapper, .input-group input.login {
    margin: 0 auto;
}
.lg-oad.loading-change-report {
    position: relative;
    top: 1px;
    left: 10px;
}
#viewerSection{
  margin-top: 10px
}

/* Home Page ITHUTECH */
.float-left{
  float:left;
}
.ithutech-col-3{
  width: 29.999999%;
}
.ithutech-col-7{
  width: 69.999999%;
}.ithutech-row{min-width: 984px}


.info-no-title span {
    color: #cc0808;
    font-size: 17px;
    text-transform: uppercase;
}

h2.title-no-news {
    padding: 10px 0px;
    text-transform: uppercase;
}
.readmore-box {
    margin-top: 20px;
}
a.read-more {
    margin: 0 auto;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 27px;
    background-color: var(--blue);
    border-radius: 35px;
}
.info-no.left-f {
  min-height: 250px;
  max-height: 250px;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 20px 10px;
    background-color: white;
    box-shadow: 2px 2px 7px #81bdd1cf;
}
.info-no.left-f.new-update{  min-height: 200px;
  max-height: 200px;}
h2.title-introduc {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;    margin-bottom: 18px;
}
ul.ul-news {
    margin-left: 17px;
    margin-top: 10px;
}

article.introduc, article.product-review {
    padding: 20px 0 20px 20px;margin-bottom: 42px;
}article.introduc p {
    text-align: justify;
}
.img-cover img {
    border-radius: 5px;
}
footer.footer .ithutech-row p,footer.footer .ithutech-row a,footer.footer .ithutech-row strong {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 10px;
}
footer.footer.copywrite {
    user-select: none;
    pointer-events: none;
}
footer.footer .ithutech-row p strong {
  font-weight: bold;
    color: indianred;
}footer.footer .ithutech-row p a {
    text-decoration: none;
}div#viewerSection .title {border-bottom: 1px solid;font-size: 18px;color: #1f6e70;
margin-bottom: 10px;

}

div#viewerSection .title::after {
    font-family: "Font Awesome 4 Free";
    content: 'XEM Ná»˜I DUNG \f0d7';
    font-size: 12px;
    position: relative;
    float: right;
    bottom: -1px;
}
select.input.input_f.select_mon_hoc {
    border: none;
    padding: 14px 0 12px 0;
}
.lg-oad.loading-register-topic {
    float: right;
    margin: 2px 0 0 10px;
}
